@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap");

@font-face {
  font-family: "MarlonPro-Bold";
  src: url("./font/MarlonPro-Bold.ttf");
}
@font-face {
  font-family: "MarlonPro-Medium";
  src: url("./font/MarlonPro-Medium.ttf");
}
@font-face {
  font-family: "MarlonPro-Regular";
  src: url("./font/MarlonPro-Regular.ttf");
}

:root {
  --global-color-orange: #f1592a;
  --global-color-brown: #6a6b61;
  --global-color-white-darker: #f2f2f2;
  --font-size-big: 28px;
  --font-size-medium: 20px;
  --font-size-small: 16px;
  --font-size-mini: 12px;
  --padding-left: 40px;
  --padding-right: 80px;
  --title-height: 70px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  box-sizing: border-box;
}

ul {
  padding-inline-start: 0;
  li {
    list-style-type: none;
    display: block;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  cursor: pointer;
}

div,
a,
p,
h1 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  font-family: "MarlonPro-Regular";
  margin: 0;
  font-size: var(--font-size-small);
  font-weight: 200;
  text-align: justify;
  line-height: calc(var(--font-size-small) + 2px);
}

@mixin displayFlex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

@mixin displayFlexBetween {
  @include displayFlex();
  justify-content: space-between;
}

@mixin displayFlexColumn {
  @include displayFlex();
  flex-direction: column;
}

@mixin positionAbsoluteCenter {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@mixin windowTransition {
  transition: 0.5s opacity ease, 0.6s z-index ease;
}
//Global values end

.website-wrapper {
  @include displayFlexColumn();
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.info-container {
  background-color: var(--global-color-brown);
  @include displayFlexColumn();
  justify-content: flex-start;
  align-items: flex-start;
  background-color: grey;
  color: white;
  padding: 0 var(--padding-left);
  padding-top: 105px;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  @include windowTransition();
  .content {
    @include displayFlexColumn();
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    .intro-title {
      white-space: pre-line;
      text-align: left;
      font-size: var(--font-size-big);
      margin-bottom: 20px;
      .text {
        position: relative;
        font-family: "MarlonPro-Medium";
        .line {
          position: absolute;
          transform: translate(-100%, -50%);
          top: 50%;
          left: -5px;
          height: 2px;
          width: 50px;
          background-color: white;
        }
      }
      .text:nth-child(1) {
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      // .text:nth-child(2) {
      // }
    }
    .text-box {
      margin-bottom: 35px;
    }
    .text-bubble {
      @include displayFlexColumn();
      align-items: flex-start;
      background-color: white;
      color: black;
      border-radius: 30px;
      border-top-left-radius: 0;
      padding: 30px;
      p:nth-child(1) {
        margin-bottom: 10px;
      }
      p:nth-child(2) {
        margin-bottom: 10px;
      }
      .buttons-container {
        .btn {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  .btn-start {
    width: 100%;
    @include displayFlex();
    margin-top: 65px;
    .active-zone {
      position: relative;
      color: var(--global-color-orange);
      font-size: var(--font-size-big);
      text-transform: uppercase;
      font-family: "Open Sans", serif;
      font-weight: 700;
      .line {
        position: absolute;
        transform: translate(100%, -50%);
        top: 50%;
        right: -5px;
        height: 2px;
        width: 150px;
        background-color: var(--global-color-orange);
      }
    }
  }
}

.buttons-container {
  @include displayFlex();
  .subtopic-count {
    @include displayFlex();
    margin: 0 5px;
    color: var(--global-color-orange);
    font-family: "MarlonPro-Bold";
    margin-bottom: 0;
    width: 35px;
  }
  .btn-left {
    background-image: url("./images/Go previous.png");
  }
  .btn-right {
    background-image: url("./images/Go next.png");
  }
}

.btn-round {
  @include displayFlex();
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background-color: var(--global-color-orange);
  background-position: center;
  background-size: contain;
}

.topics-container {
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  .content {
    @include displayFlexColumn();
    justify-content: flex-start;
    width: 100%;
    .title,
    .topics-header {
      @include displayFlexColumn();
      width: 100%;
      height: var(--title-height);
      font-size: var(--font-size-medium);
    }
    .title {
      background-color: var(--global-color-brown);
      color: white;
      font-family: "MarlonPro-Medium";
      p:nth-child(1) {
        text-transform: uppercase;
      }
      p:nth-child(2) {
        font-size: var(--font-size-mini);
      }
    }
    .topics-header {
      background-color: var(--global-color-white-darker);
      color: black;
      font-family: "MarlonPro-Bold";
      text-transform: uppercase;
    }
    .topics-list-wrapper {
      height: calc(100vh - 2 * var(--title-height) - 56px);
      @include displayFlexColumn();
      justify-content: flex-start;
      overflow-x: scroll;
      width: 100%;
      .topics-list {
        @include displayFlexColumn();
        align-items: flex-start;
        justify-content: flex-start;
        width: 250px;
        border: 1px solid var(--global-color-orange);
        border-top: none;
        border-bottom: none;
        position: relative;
        margin-top: 10px;
        padding-bottom: 80px;
        .icons-container {
          position: absolute;
          transform: translate(0, -100%);
          width: 250px;
          top: -20px;
          @include displayFlexBetween();
          .icon {
            width: 40px;
            height: 40px;
            background-color: var(--global-color-orange);
          }
          .icon:nth-child(1) {
            transform: translateX(-50%);
          }
          .icon:nth-child(2) {
            transform: translateX(50%);
          }
        }
        .topic {
          margin-bottom: 35px;
          @include displayFlex();
          flex: 1;
          height: auto;
          align-items: flex-start;
          background-color: white;
          padding: 5px 0;
          border: 1px solid red;
          .topic-number {
            @include displayFlex();
            right: 100%;
            width: 40px;
            color: var(--global-color-orange);
            font-family: "MarlonPro-Bold";
            margin-right: 3px;
          }
          .topic-title {
            display: flex;
            white-space: pre-line;
            font-family: "Open Sans", serif;
            margin-top: -5px;
            color: black;
            height: auto;
          }
        }
        .topic:nth-child(1) {
          margin-top: 30px;
        }
        .topic:nth-child(odd) {
          transform: translateX(-45px);
          text-align: right;
        }
        .topic:nth-child(even) {
          align-self: flex-end;
          text-align: right;
          transform: translateX(5px);
        }
      }
    }
  }
}

.content-bottom {
  background: linear-gradient(0deg, rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0.75) 60%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0;
  @include displayFlex();
  align-items: flex-end;
  padding-bottom: 20px;
  .btn-info {
    background-image: url("./images/Look\ info.png");
  }
}

.topic-window-container {
  background-color: white;
  width: 100%;
  position: absolute;
  @include windowTransition();
  .content {
    @include displayFlexColumn();
    justify-content: flex-start;
    width: 100%;
    .title {
      font-family: "MarlonPro-Medium";
      position: relative;
      @include displayFlexColumn();
      width: 100%;
      height: var(--title-height);
      font-size: var(--font-size-medium);
      background-color: var(--global-color-brown);
      color: white;
      .btn-back {
        position: absolute;
        width: 35px;
        height: 35px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("./images/Go\ back.png");
        left: 30px;
      }
      p:nth-child(1) {
        text-transform: uppercase;
      }
      p:nth-child(2) {
        font-size: var(--font-size-mini);
      }
    }
    .info-header {
      @include displayFlexColumn();
      align-items: flex-start;
      width: 100%;
      height: var(--title-height);
      background-color: var(--global-color-white-darker);
      padding: 0 30px;
      .text {
        text-transform: uppercase;
        font-size: var(--font-size-mini);
        line-height: var(--font-size-mini);
        position: relative;
        font-family: "MarlonPro-Bold";
        width: auto;
        .line {
          position: absolute;
          transform: translate(100%, -50%);
          top: 6px;
          right: -5px;
          width: 300px;
          height: 1px;
          background-color: black;
        }
      }
      .text:nth-child(1) {
        font-family: "Open Sans", serif;
        color: var(--global-color-orange);
        margin-bottom: 5px;
        .line {
          background-color: var(--global-color-orange);
          transform: translate(-100%, -50%);
          left: -5px;
        }
      }
      // .text:nth-child(2) {
      //   white-space: pre-wrap;
      //   width: fit-content;
      // }
    }
    .subtopic-wrapper {
      @include displayFlexColumn();
      justify-content: flex-start;
      height: calc(100vh - 2 * var(--title-height) - 56px);
      width: 100%;
      overflow-x: scroll;
      padding: 0 var(--padding-left);
      padding-bottom: 160px;
      padding-top: 20px;
      .subtopic-description-container {
        text-align: justify;
        font-size: var(--font-size-small);
        .description {
          font-size: var(--font-size-small);
          margin-bottom: 10px;
          position: relative;
          .stamp-image {
            position: absolute;
            bottom: -80px;
            right: 0;
            width: 180px;
            height: 180px;
            background-position: center;
            background-size: contain;
            background-image: url("./images/stamp.png");
          }
        }
        .image {
          width: 100%;
          height: 200px;
          background-color: white;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          margin-bottom: 10px;
        }
        .image-description {
          font-size: var(--font-size-mini);
          line-height: calc(var(--font-size-mini) + 3px);
          margin-bottom: 20px;
        }
      }
    }
  }
}

.ref-image {
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  display: none;
}

@media only screen and (max-width: 420px) {
}
